@use './mixins' as mixin;
@use './root' as root;

.user {
    font-family: var(--ff-mclaren);
    background-color: var(--pale-blue);
    background-image: url('/assets/background/phone-flags-bg.png');
    @include mixin.media(root.$desktop){
        background-image: url('/assets/background/desktop-flags-bg.png');
    }
}

.admin {
    font-family: var(--ff-roboto-mono);
}

.world-bg {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
    @include mixin.media(root.$desktop){
        display: block;
    }
}

#root {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.logo {
    position: fixed;
    top: 0.4rem;
    left: 0.4rem;
    height: 3rem;
    object-fit: contain;
    @include mixin.media(root.$tablet){
        height: 6rem;
    }
    @include mixin.media(root.$desktop){
        top: 0.6rem;
        left: 1rem;
        height: 15vh;
    }
}

.error-message {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }
  