@use './mixins' as mixin;
@use './root' as root;

body {
    font-family: var(--ff-mclaren);
    background-color: var(--pale-blue);
    background-image: url('/backgroung/phone-flags-bg.png');
    @include mixin.media(root.$desktop){
        background-image: url('/backgroung/desktop-flags-bg.png');
    }
}