//media query
@mixin media($width, $type: min) {
    @if $type == min {
        @media (min-width: $width) {
            @content;
        }
    } @else if $type == max {
        @media (max-width: $width) {
            @content;
        }
    }
}

@mixin modal-title{
    font-size: var(--fz-m);
    -webkit-text-stroke: 0.2px var(--black);
    color: var(--white);
}
