@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$desktop: 1200px;
$tablet: 769px;
$mobile: 376px;

:root {

    //ADMINS
    //colors
    --blue-100: rgb(218, 233, 255);
    --blue-200: rgb(197, 221, 255);
    --blue-300: rgb(109, 133, 185);
    --blue-400: rgb(1, 0, 76);
    --grey-100: rgb(155, 155, 155);
    --grey-200: rgb(40, 40, 40);
    --grey-300: rgb(31, 31, 31);
    --yellow-300: rgb(212, 155, 0);
    --yellow-400: rgb(157, 131, 58);
    --red-300: rgb(212, 0, 0);
    --green-300: rgb(60, 150, 0);
    --green-400: rgb(13, 72, 0);

    //USUARIOS//
    // colors
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --pale-blue: rgb(198, 235, 255);
    --blue: rgb(9, 148, 255);
    --off-white: rgb(254, 255, 224);
    --pale-yellow: rgb(254, 255, 186);
    --light-yellow: rgb(253, 255, 108);
    --yellow: rgb(240, 236, 0);
    --dark-yellow: rgb(150, 147, 0);
    --pale-red: rgb(255, 200, 200);
    --red: rgb(255, 0, 4);
    --dark-red: rgb(138, 0, 0);
    --bar-red: rgb(255, 114, 116);
    --pale-green: rgb(198, 255, 196);
    --green: rgb(14, 204, 0);
    --dark-green: rgb(0, 100, 8);
    --bar-green: #5FDE6A;

    // Fonts
    --ff-mclaren: "McLaren", sans-serif;
    --ff-roboto-mono: "Roboto Mono", monospace;
    --fz-xs: 1.1rem;
    --fz-s: 1.5rem;
    --fz-m: 2rem;
    --fz-ml: 2.8rem;
    --fz-l: 3.2rem;
    --fz-xl: 4rem;
    --fw-100: 300;
    --fw-200: 400;
    --fw-300: 500;
    --fw-400: 600;
    --fw-500: 700;

    //menu
    --menu-bg-color: "";
    --menu-border-color: "";

}