.admin {
    &__regular-btn {
        background-color: var(--yellow-300);
        color: var(--white);
        font-size: var(--fz-s);
        font-weight: var(--fw-300);
        letter-spacing: 1.3px;
        padding: 0.3rem 1.5rem;
        border: none;
        margin-top: 1rem;
        cursor: pointer;
    }

    &__regular-btn:hover {
        background-color: var(--yellow-400);
    }
}