@use '../globals' as g;

.game {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    width: 100dvw;
    @include g.media(g.$tablet){
        padding: 1.5rem;
        width: 85dvw;
    }
    @include g.media(g.$desktop){
        width: 40rem;
    }

    &__country {
        @include g.mode-game-country;
    }

    &__answer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
        justify-items: center;
        @include g.media(g.$tablet){
            grid-template-columns: 1fr 1fr;
        }
    }

    &__answer {
        border: 3px solid var(--black);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        background-color: var(--white);
        height: 6rem;
        width: 16rem;
        display: grid;
        place-content: center;
        font-size: var(--fz-s);
        overflow: hidden;
        cursor: pointer;
    }

    @media (hover: hover) {
        &__answer:hover {
            border-color: var(--yellow);
            color: var(--dark-yellow);
        }
    }

    &__answer.correct {
        border-color: var(--green);
        color: var(--dark-green);
        box-shadow: inset 0 500px var(--bg-correct);
    }

    &__answer.correct > .game__answer-flag,
    &__answer.wrong > .game__answer-flag {
        opacity: 0.7;
    }

    &__answer.wrong {
        border-color: var(--red);
        color: var(--dark-red);
        box-shadow: inset 0  500px var(--bg-wrong);
    }

    &__answer-flag {
        max-width: 9.5rem;
        height: 5rem;
        object-fit: cover;
        @include g.media(g.$tablet){
            height: 9rem;
            max-width: 16rem;
        }
    }
}

