@use '../globals' as g;

.game {
    position: relative;
    padding-block: 0.5rem;
    text-align: center;
    width: 100dvw;
    @include g.media(g.$tablet){
        padding: 1.5rem;
        width: 85dvw;
    }
    @include g.media(g.$desktop){
        width: 40rem;
    }

    &__country {
        @include g.mode-game-country;
    }

    &__answer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin-top: 1rem;
        justify-items: center;        
        @include g.media(g.$tablet){
            gap: 1rem;
        }
    }

    &__answer {
        border: 3px solid var(--black);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        background-color: var(--white);
        height: 6rem;
        width: 11rem;
        font-size: var(--fz-s);
        display: grid;
        place-content: center;
        overflow: hidden;
        cursor: pointer;
        @include g.media(g.$tablet){
            height: 6rem;
            width: 16rem;
        }
    }

    @media (hover: hover) {
        &__answer:hover {
            border-color: var(--yellow);
            color: var(--dark-yellow);
        }
    }

    &__answer.correct {
        border-color: var(--green);
        color: var(--dark-green);
        box-shadow: inset 0 500px var(--bg-correct);
    }

    &__answer.correct > .game__answer-flag,
    &__answer.wrong > .game__answer-flag {
        opacity: 0.7;
    }

    &__answer.wrong {
        border-color: var(--red);
        color: var(--dark-red);
        box-shadow: inset 0  500px var(--bg-wrong);
    }

    &__answer-flag {
        max-width: 9.5rem;
        height: 5rem;
        object-fit: cover;
        @include g.media(g.$tablet){
            height: 9rem;
            max-width: 16rem;
        }
    }

    &__progress {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--light-yellow);
        font-size: var(--fz-xs);
        padding: 0.5rem;
        border-radius: 8px;
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        -ms-border-radius:8px;
        -o-border-radius:8px;
        color: var(--black);
        border: 3px solid var(--black);
        @include g.media(g.$desktop){
            font-size: var(--fz-s);
            top: 50%;
            left: 115%;
        }
    }
}

