@use '../globals' as g;

.mode {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-width: 95dvw;
    @include g.media(g.$tablet){
        min-width: 30rem;
    }

    &__btn-wrapper {
        display: flex;
    }

    &__btn {
        width: 100%;
    }

    &__btn-wrapper{
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(35%, -40%);
        -webkit-transform: translate(35%, -40%);
        -moz-transform: translate(35%, -40%);
        -ms-transform: translate(35%, -40%);
        -o-transform: translate(35%, -40%);
    }

    &__icon-infinity {
        height: 3rem;
        object-fit: contain;
        @include g.media(g.$tablet){
            height: unset;
        }
    }

    &__icon-turbo {
        height: 4.5rem;
        object-fit: contain;
        @include g.media(g.$tablet){
            height: unset;
        }
    }
}