@use '../globals' as g;

.admin {
    &__countries {
        font-size: var(--fz-xs);
        max-width: 95dvw;

        &-label {
            font-weight: var(--fw-400);
            line-height: 1;
        }

        &-add-wrapper {
            margin-block: 1rem;
        }

        &-input-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-top: 0.2rem;
        }

        &-input {
            border: none;
            padding-inline: 0.3rem;
            height: 2rem;
        }

        &-search-results {
            max-height: 40dvh;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.703);
            padding: 0.2rem;
            overflow-y: scroll;
            @include g.media(g.$mobile , max){
                max-height: 22dvh;
            }

            &::-webkit-scrollbar {
                width: 10px;
                background-color: #ffffff00;
            }

            &::-webkit-scrollbar-track { 
                background-color: #ffffff00;
            }

            &::-webkit-scrollbar-thumb {
                background: #8f9ab4; 
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #747d90; 
            }
        }

        &-search-result {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @include g.media(g.$tablet){
                margin-bottom: 0.5rem;
            }

            &__btn-wrapper {
                @include g.media(g.$tablet){
                    max-width: unset;
                }
                .--mod-country-btn {
                    padding: 0.2rem 0.6rem;
                }

                .--mod-country-btn + .--mod-country-btn {
                    margin-left: 0.5rem;
                }

                .--mod-modify-country {
                    background-color: var(--blue-300);
                }

                .--mod-delete-country {
                    background-color: var(--red-300);
                }

                .--mod-result-save {
                    background-color: var(--green-300);
                }

                .--mod-result-cancel {
                    background-color: var(--grey-100);
                }
            }
        }

        &-search-result-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 0.3rem;
            flex-wrap: wrap;
            @include g.media(g.$tablet){
                align-items: center;
            }
        }

        &-search-flag {
            width: 2rem;
            object-fit: contain;
        }

        &-search-name {
            color: var(--blue-400);
            font-weight: var(--fw-400);
            min-width: fit-content;
        }
    }

    &__regular-btn.--mod-country-btn {
        font-size: var(--fz-xs);
    }
}