@use '../globals' as g;

.admin {
    .login {
        align-items: center;
        text-align: center;
        gap: 1rem;
        min-width: 95dvw;
        @include g.media(g.$tablet){
            min-width: 25rem;
        }

        &__input-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: left;
            gap: 0.3rem;
        }

        &__input {
            border: none;
            height: 1.8rem;
            color: var(--gray-300);
            padding: 0.2rem 0.3rem;
        }
    }
}