.main-wrapper {
    background-color: var(--blue);
    border: 4px solid var(--black);
    border-radius: 0.9rem;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    -ms-border-radius: 0.9rem;
    -o-border-radius: 0.9rem;
}