@use '../globals' as g;

.menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    text-align: center;
    @include g.media(g.$tablet){
        top: 1.5rem;
        right: 1.5rem;
    }

    &__btn {
        height: 4rem;
        aspect-ratio: 1;
        background-color: var(--avatar-bg-color);
        border: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
}

    &__btn:hover {
        box-shadow: inset -1px -1px 0px 4px var(--avatar-border-color);
    }
}
